* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: #F7F7F7;
    font-family: Arial, Helvetica, sans-serif;
    color: #232121;
  }
  /*logo*/
  .top-container {
    padding: 30px;
    text-align: center;
    font-family: Baloo;
  }

  #w2e {
      color: #ee7f3e;
  }

  /*menu*/
  .topnav {
    overflow: hidden;
    background-color: #202020;
    background-image: linear-gradient(to right, #363636 , #626262);
    color: #e9e5e5;
  }
  .topnav p {
      font-family: baloo;
      float: left;
      margin-left: 10px;
      text-align: center;
  } 
  .topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
    color: #232121;
  }
  
   /*menu light*/
   .lightA {  
    color: #232121;
  }
   .lightA:hover {
    background-color: #f7f7f7;  
    color: #232121;
  }
  .light {
    background-color: #f7f7f7;
    color: #232121;
  }

  #lightmode{
    background-color: #232121;
    background-image: linear-gradient(to right, #232121 , #919090);
    color: #e9e5e5;
  }

  /*menu dark*/
  #darkmode{
    background-color: #a3a2a3;
    background-image: linear-gradient(to right, #a3a2a3 , #ffffff);
    color: #232121;
  }
  .darkA{
    color: #f7f7f7;
  }
  .darkA:hover {
    background-color: #232121;  
    color: #f7f7f7;
  } 
  .dark {
    background-color: #232121;
    color: #e9e5e5;
  }

  /*menu sticky funsction*/
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .row {
    padding-top: 102px;
  }

  /*content*/
  .row {
      min-height: 100px;
      padding: 16px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .header {
    background-color: #ffa291;
    color:#202020;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-radius: 1px;
  }

  /*WIP*/
  .catagory{
      background-color: #fff1ee;
      border-radius: 5px;
      padding: 10px;
      width: 100%;
      margin-top: 5px;
  }
  .catagory:hover {
    background-color: #f8d7cf;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #ffa291;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #f88f7c;
  }

  button {
    width: 100%;
    background-color: #ffa291;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover{
    background-color: #f88f7c;
  }
  input[type=textarea], textarea{
    min-width: 400px;
  }
   


