{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>What2Eat</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'user/base.css' %}">
</head>
<body>
  {% include 'messages.html' %}


<div class="topnav">
    <p>What<span id="w2e">2</span>Eat</p>
</div>
  
  <div class="column2", style="width:40%; margin-left:30%;">
    <div class="header">
        {% block page_title %} <!-- Title of page, ex. "My site"-->
        {%endblock%}
    </div>
    <div>
        {% block content %}  <!-- Pgae content, ex. "My recipies"-->
        {%endblock%}
    </div>
  </div>
</div>

</body>
</html>
