{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>{%block folder_name %}{%endblock%}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static '/user/base_super.css' %}">
{% block header_info_base %}
{%endblock%}
{% block header_info %}
{%endblock%}
</head>
<body>
<div class="container">
    <div class="top-container">
       <h1>What<span id="w2e">2</span>Eat</h1>
    </div>
    <div class="topnav">
        <p>What<span id="w2e">2</span>Eat</p>
        <a href="/">Logg ut</a>
        <a class="mysite" id="light" href="/{{user.id}}">Min profil</a>
        <a class="home" id="light" href="/{{user.id}}/feed/">Hjem</a>
        <a class="newrecipe" id="light"  href="/{{user.id}}/recipe/form">Ny oppskrift</a>
    </div>

    <div class="row"> 
        {% block page_layout %}
        {%endblock%}
        <button id="colorListener">Dark mode</button>
    </div>
</div>
<script>
    var body = document.querySelector("body");
    var topnav = document.querySelector(".topnav");
    var colorListener = document.querySelector("#colorListener");
    var mysite = document.querySelector("#mysite");
    var home = document.querySelector("#home");
    var newrecipe = document.querySelector("#newrecipe");

    colorListener.addEventListener("click", changeMode);

    function changeMode(){
        if (colorListener.innerHTML=="Dark mode"){
            colorListener.innerHTML="Light mode";
            body.style.backgroundColor="#232121";
            body.style.color="#f7f7f7";
            topnav.removeAttribute("id", "lightmode");
            topnav.setAttribute("id", "darkmode");  
        }
        else{
            colorListener.innerHTML="Dark mode";
            body.style.backgroundColor="#f7f7f7";
            body.style.color="#232121";   
            topnav.removeAttribute("id", "darkmode");
            topnav.setAttribute("id", "lightmode");  
        }
    }

</script>
<script>
    window.onscroll = function() {myFunction()};

    var topnav = document.querySelector(".topnav");
    var sticky = topnav.offsetTop;

    function myFunction() {
    if (window.pageYOffset > sticky) {
        topnav.classList.add("sticky");
    } else {
        topnav.classList.remove("sticky");
    }
    }

</script>

{%block script%}{%endblock%}

</body>
</html>
