{% extends "user/base_super.html" %}
{% load static %}

{% block header_info_base %} 
    <link rel="stylesheet" type="text/css" href="{% static '/user/base_wide.css' %}">
{%endblock%}


{% block page_layout %}
  <div class="mainWide">
    <div class="header">
      <h2>
        {% block page_title %} <!-- Title of page, ex. "My site"-->
          {%endblock%}
      </h2>
    </div>
    <div>
        {% block content %}  <!-- Pgae content, ex. "My recipies"-->
        {%endblock%}
    </div>
  </div>
{%endblock%}