{% extends "user/base_wide.html" %}
{% load static %}

{% block header_info %}
    <link rel="stylesheet" type="text/css" href="{% static 'recipe/feedStyling.css' %}">
{%endblock%}


{% block page_title %}
<h2>{{user.fname}} sin side</h2>
{%endblock%}


{% block content %}
<h3>Mine oppskrifter:</h3>
    {%if recipeList %}
        {% for recipe in recipeList %}
        <a href="/{{user.id}}/recipe/{{recipe.id}}">
            <div class="recipeItem row">
                <div class="image">
                    <img src="{{ recipe.picture.url }}" />
                </div>
                <div class="info">
                    <h3>{{recipe.title}}</h3>
                    <p class="hashtag">#{{recipe.category}} </p>
                    <p>{{recipe.description}}</p>
                    <!-- <img src = "{% static 'recipe/defaultRecipeImage.jpg' %}" /> -->
                    <p>Forfatter: {{recipe.user}} | Publisert: {{recipe.publishedDate}}</p> 
                </div>
            </div></a>
        {% endfor %}
    {% else %}
        <p>Ingen oppskrifter å vise</p>
    {% endif %}
{%endblock%}