{% extends "user/base_wide.html" %}
{% load static %}

{% block header_info %}
    <link rel="stylesheet" type="text/css" href="{% static 'recipe/feedStyling.css' %}">
{%endblock%}


{% block page_title %}
<h2>{{user.fname}} sin side</h2>
{%endblock%}


{% block content %}
<h3>Mine oppskrifter:</h3>
    {%if recipeList %}
        {% for recipe in recipeList %}
        <a href="recipe/{{recipe.id}}">
        <div class="recipeItem">
            <p>Hei</p>
            <h3>{{recipe.title}}</h3>
            <p>Publisert: {{recipe.publishedDate}}</p> 
            <p>Forfatter: {{recipe.user}} </p>
        </div></a>
        {% endfor %}
    {% else %}
        <p>Ingen oppskrifter å vise</p>
    {% endif %}
{%endblock%}