.recipeItem {
    border-bottom: 1px #c7c7c7 solid;
    padding: 14px 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.recipeItem:hover {
    background-color: #e7e7e7;
    color: black;
}

img {
    max-height:100%; 
    max-width:100%;
}

.image {
    width: 20%;
    float: left;
    /* border:  2px red solid; */
}

.info {
    float: left;
    margin-left: 5%;
    width: 75%;
    /* border:  2px red solid; */
} 

.hashtag {
    color: darkgray;
    font-style: italic;
}

a {
    text-decoration: none;
    color: inherit;
}
li {
    padding-bottom: 20px;
}
.space{
    margin-left: 20px;
}
