.recipeItem {
    border: 2px aquamarine solid;
    padding: 14px 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.recipeItem:hover {
    background-color: aquamarine;
}

img {
    max-height:100%; 
    max-width:100%;
}

.image {
    width: 20%;
    float: left;
    /* border:  2px red solid; */
}

.info {
    float: left;
    margin-left: 5%;
    width: 75%;
    /* border:  2px red solid; */
} 

.hashtag {
    color: darkgray;
    font-style: italic;
}

a {
    color: black;
    text-decoration: none;
    
}
li {
    padding-bottom: 20px;
}
