<head>
    <style>
        .home {
            background-color: #f7f7f7;
            color: #232121;
        }

    </style>
</head>

{% extends "user/base_sidenav.html"%}
{% load static %}

{% block folder_name %}hjem{%endblock%}

{% block header_info %} <!-- for linking other stylesheets etc --> 
    <link rel="stylesheet" type="text/css" href="{% static 'recipe/feedStyling.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'user/sidenav.css' %}"> -->
{%endblock%}

{% block sidenav_title %}
    Filtrer etter kategorier
{%endblock%}

{% block sidenav %} <!-- button linking to ex. new recipe -->
<form action="" method="post">
    <!-- csrf_token = Cross site request Forgery protection -->
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Filtrer">
</form>
{%endblock%}


{% block page_title%}
<h2>Feed for alle offetilige oppskrifter</h2>
{% endblock %}

{% block content %}
 {%if recipeList %}
    {% for recipe in recipeList %}
    <a href="/{{user.id}}/recipe/{{recipe.id}}">
    <div class="recipeItem row">
        <div class="image">
            <img src="{{ recipe.picture.url }}" />
        </div>
        <div class="info">
            <h3>{{recipe.title}}</h3>
            <p class="hashtag">#{{recipe.category}} </p>
            <p>{{recipe.description}}</p>
            <!-- <img src = "{% static 'recipe/defaultRecipeImage.jpg' %}" /> -->
            <p>Forfatter: {{recipe.user}} | Publisert: {{recipe.publishedDate}}</p> 
        </div>
    </div></a>
    {% endfor %}
{% else %}
    <p>Ingen oppskrifter å vise</p>
{% endif %}
{%endblock%}



{%block script%}

<script>
    var home = document.querySelector("#home");
    var recipeItem = document.querySelector(".recipeItem");

    changeModeMysite();

    function changeModeMysite(){
        if (activeColorMode == "True"){
            home.removeAttribute("class", "light");
            home.setAttribute("class", "link darkA dark");
         }
        else {
            home.removeAttribute("class", "dark");
            recipeItem.removeAttribute("id", "darkColor");  
        }
    }
</script>
{%endblock%}