{% extends "user/base.html"%}

{% block page_title%}
<p>Her er oppskriftene</p>
{% endblock %}

{% block sidenav %} <!-- button linking to ex. new recipe -->
<h2>Filter by categories</h2>

<input type="checkbox" id="breakfastCheckBox" name="Breakfast" value="Breaksfast" >
<label for = "breakfastCheckBox" > Breakfast </label>
<br> </br>
<input type="checkbox" id="lunchCheckBox" name="Lunch" value="Lunch" >
<label for = "lunchCheckBox" > Lunch </label>
<br> </br>
<input type="checkbox" id="dinnerCheckbox" name="Dinner" value = "Dinner" >
<label for = "dinnerCheckbox" > Dinner </label>
<br> </br>
<button type="Submit" id="filterButton"  name="filterButton" value="filterButton">Filter</button>



    {%endblock%}
{% block content %}

 {%if recipeList %}
    {% for recipe in recipeList %}
    <p><a href="/recipe/{{recipe.id}}">{{recipe.title}}</a> {{recipe.publishedDate}}</p>
    {% endfor %}
{% else %}
    <p>Ingen oppskrifter å vise</p>
{% endif %}
{%endblock%}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hei på deg</h1>
    
</body>
</html> -->