{% extends "user/base.html"%}

{% block content1%}
<p>Her er en oppskrift</p>
{% endblock %}

{% block content2 %}
 {%if recipeList %}
    {% for recipe in recipeList %}
    <p>{{recipe.title}} {{recipe.publishedDate}}</p>
    {% endfor %}
{% else %}
    <p>Ingen oppskrifter å vise</p>
{% endif %}
{%endblock%}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hei på deg</h1>
    
</body>
</html> -->