{% extends "user/base.html"%}

{% block page_title%}
<h2>{{recipe.title}}</h2>
{%endblock%}

{% block content%}
<p>{{recipe.publishedDate}}</p>
<p>Ingredients: {{recipe.ingredients}}</p>
<p>Description: {{recipe.description}}</p>
<p>Category: {{recipe.category}}</p>
<p>User: {{recipe.user}}</p>
{%if recipe.user.id == user.id%}
<!-- <form action="/{{user.id}}/" method="post">  -->
<form action="" method="post"> 
    {% csrf_token %}
    <input type="submit", name="delete", value="delete">
</form>
<a href="/{{user.id}}/recipe/{{recipe.id}}/edit/"><button> Edit </button></a>
{%endif%}
{%endblock%}